@import "reset";
@import "customreset";
// @import "fonts";
// @import "variables";
// @import "mixin";


// * {
// 	box-sizing:border-box;
// }

//Welcome page

.Welcome{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#ed4343 ;
// width: 100vw;
height: 100vh;
}

header{
	display: block;	
}

header h1{
	font-size: 28px;
	font-weight: bold;
	font-family: 'raleway',sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

a{
	padding-top: 100px;
	padding-bottom: 100px;
}




.pulse {
	width:100px;
	height:100px;
	border-radius:50%;
	background:white;
	border-image:white;
	animation: border-pulse 5s infinite ease-in-out;

	@keyframes border-pulse {
		0%   { 
			box-shadow:
			0 0 0 1rem rgba(255, 255, 255, 0.1),
			0 0 0 2rem rgba(255, 255, 255, 0.15),
			0 0 0 3rem rgba(255, 255, 255, 0.2);
		}
		50%  {       

			box-shadow:
			0 0 0 1.25rem rgba(255, 255, 255, 0.1),
			0 0 0 2.75rem rgba(255, 255, 255, 0.1),
			0 0 0 4rem rgba(255, 255, 255, 0);

		}
		75%  {       

			box-shadow:
			0 0 0 1.50rem rgba(255, 255, 255, 0.1),
			0 0 0 3rem rgba(255, 255, 255, 0),
			0 0 0 5rem rgba(255, 255, 255, 0);

		}
		100% { 

			box-shadow:
			0 0 0 1.75rem rgba(255, 255, 255, 0),
			0 0 0 3.75rem rgba(255, 255, 255, 0),
			0 0 0 6rem rgba(255, 255, 255, 0);

		}
	}
}

footer{
	display: block;
	padding-top: 50px;
}

footer h2{
	font-size: 20px;
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	
}


//// Form


.form{

	display:flex;
	flex-direction: column;
	justify-content: space-around;
// flex-wrap: nowrap;
// align-items: center;
background-color: black;
width:100vw;
height: 100vh;
// box-sizing: border-box;
}

header{
	display:block;
	text-align: center;
}

h1{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
	color:white;
	padding: 2rem 1rem;
	box-sizing: border-box;
}

form{
	flex:1;
	line-height: 15vh;
	padding-left: 40px;
	padding-right: 40px;

	input{
		width: 90vw;
		height: 10vh;
		// padding: 10px;
	}

	.custom-select {
		height:4rem;
		background:white;

		select {
			font-size:1rem;
			line-height:2rem;
			padding-left:0.5rem;
			font-family: 'Raleway';
			color: red;
		}

	}

}

*::-webkit-input-placeholder{
	color: #ed4343;
}


fieldset {
	padding-top: 20px;
}

button{
	
	padding-bottom: 40px;
	padding-top: 30px;
}


.submit {
	background-color:#ed4343;
	width: 90vw;
	height: 10vh;
	font-size: 18px;
	text-align: center;
}

//font-color inside the form?
// .ocupation select {
// 	font-family: 'Raleway', sans-serif;
// 	color: #ed4343;

// }

// form input.placeholder{
// 	color: #ed4343;
// }

// verify validation - it's not working

.show-validation{
	transition: 0.5s linear all;
}
.show-validation{
	input, select, textarea {
		&.ng-invalid{
			border-radius: 0;
			animation: show-validation 0.5s infinite;
		}
	}
}
@keyframes show-validation {
	0%   { 
		box-shadow:
		0 0 0 0.2rem rgba(237, 67, 67, 0.1),
		0 0 0 0.4rem rgba(237, 67, 67, 0.1),
		0 0 0 0.5rem rgba(237, 67, 67, 0.1);
	}
	50%  {       

		box-shadow:
		0 0 0 0.5rem rgba(237, 67, 67, 0.1),
		0 0 0 0.7rem rgba(237, 67, 67, 0.1),
		0 0 0 0.8rem rgba(237, 67, 67, 0.1);

	}
	75%  {       

		box-shadow:
		0 0 0 0.3rem rgba(237, 67, 67, 0.1),
		0 0 0 0.5rem rgba(237, 67, 67, 0.1),
		0 0 0 0.9rem rgba(237, 67, 67, 0.1);

	}
	100% { 

		box-shadow:
		0 0 0 0.6rem rgba(237, 67, 67, 0.1),
		0 0 0 0.8rem rgba(237, 67, 67, 0.1),
		0 0 0 1rem rgba(237, 67, 67, 0.1);

	}
}
/////// - Encounters


.encounters {
	width:100vw;
	height: 100vh;

	header{
		width:100vw;
		height:20vh;
	}

	h1{
		color:black;
		font-size: 30px;
		font-weight: bold;
		font-family: 'Raleway',sans-serif;
		padding: 2rem 1rem;
		box-sizing: border-box;
		padding-top: 15px;
		padding-bottom: 5px;
	}

	h3{
		color: black;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Raleway',sans-serif;
		box-sizing: border-box;
		padding:5px, 5px;
	}


	.actions{
		height: 60vh;
		width: 100vw;
		padding-left: 20px;
	}

	.button{
		display:block;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 50px;
		background-color: black;
	}

}










