

<!DOCTYPE html>
<html>

	<head> 

		<meta charset="utf-8">
		<title> Mobile MArs - Report </title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	</head>

	<body ng-app="myApp"> 

		<div class="report" ng-controller="reportCtrl"> 

			<header> 
				<h1> Report Encounter </h1>
				<h3> Saftey on Mars is your responsability </h3>
			</header>

			<form name="myReport"  class="my-report" ng-submit="submitReport()" novalidate>
				<select ng-model="report.alienSelect" placeholder="Select alien type"required>
						<option value="Select">Select alien type</option>
						<option value="Lizard Man">Lizard Man</option>
	      				<option value="Giant Slug">Giant Slug</option>
	      				<option value="Rogue Android">Rogue Android</option>
	      				<option value="Octospider">Octospider</option>
	      				<option value="Spiderpus">Spiderpus</option>
	      		</select>
	      		<input ng-model="report.action" type="text" name="action" placeholder="Action taken" required>
	      		<input ng-disabled= "myReports.$invalid" type="submit" id="submit" value="Submit Report" />
	      	</form>
		</div>
{{report}}

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/script.js"></script>

	</body>

</html>