



		<div class="report"> 
			<header> 
				<h1> Report Encounter </h1>
				<h3> Saftey on Mars is your responsability </h3>
			</header>

			<form name="myReport"  class="loginReport" ng-submit="enter($event)" ng-class="{'show-validation': showValidation}" novalidate>
				<fieldset>
					<div class="custom-select">
						<select name="alien" ng-model="report.alienSelect" placeholder="Select alien type"required>
								<option value="" disabled="disabled" selected="selected">Select alien type</option>
								<option value="Lizard Man">Lizard Man</option>
			      				<option value="Giant Slug">Giant Slug</option>
			      				<option value="Rogue Android">Rogue Android</option>
			      				<option value="Octospider">Octospider</option>
			      				<option value="Spiderpus">Spiderpus</option>
			      		</select>
			      	</div>

		      		<textarea ng-model="report.action" type="text" name="action" placeholder="Action taken" required></textarea>
	      		</fieldset>
		      	<fieldset id="report-button">
        			<button class="submit" style="color:white">Submit Report</button>
        		</fieldset>
	      	</form>
		</div>
