



		<div class="form">
			<header>
				<h1> Who are you? </h1>
			</header>
			
			<form name="myForm" class="loginForm" ng-submit="enter($event)" ng-class="{'show-validation': showValidation}" novalidate>

				<input ng-model="colonist.name" ng-maxlength="140" type="text" name="Name" placeholder="Name" required minlength="3" class= "">
					
				<input ng-model="colonist.age" type="number" name="age" placeholder="Age" required class="">

				<div class="custom-select">
					<select name="occupation" ng-model="colonist.job_id" ng-class="{placeholder:!colonist.job_id}"required >
						<option value="" class="placeholder"> Select occupation</option>
						<option value="{{ job.id }}" ng-repeat="job in jobs"> {{ job.name }}</option>
		      		</select>
		      	</div>

		      	<fieldset>
        			<button class="submit" style="color:white">Check In</button>
        		</fieldset>
	      	</form>
		</div>


